* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 100vh;
    margin: 0;
    }

.titulo {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 10px;
    letter-spacing: -1px;
    color: rgb(217, 0, 255);
    font-family: 'Young Serif', serif;
}

@media (max-width: 600px){
    .titulo {
        font-size: 20px;
    }}

.boton-contenedor {
    display: flex;
    justify-content: center;

}

header {
    background-color: rgb(255, 205, 243);
    
}
.boton {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background: rgb(255, 205, 243);
    font-size: 18px;
    color: black;
    border: none;
    border-radius: 12px;
}
.boton-contenedor :hover {
    background-color: #c38ed768;
}
/*comienza el main*/
.contenedor-principal{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.contenedor-secundario{
    width: 100%;
    max-width: 610px;
    height: 610px;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
}
.subtitulo  {
    width: 100%;
    background: white;
    text-align: center;
    font-weight: 950;
    font-family: Impact;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: static;
    padding: 17px 50px;
    font-size: 44px;
}

p {
    margin: 0;
}
.imagen-meme {
    max-width: 100%;
    flex-grow: 1;
    
    
}
.boton-descargar {
    border-radius: 12px;
    height: 50px;
    width: 200px;
    font-family: 'Young Serif', serif;
    font-size: 20px;
    background-color:   rgb(255, 205, 243);
    border: none;
}

/*PANEL IMAGEN*/

.panel1 {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:  rgb(255, 205, 243);
    padding: 30px 15px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: -10px 10px 100px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.boton-cerrar-panel {
        position: fixed;
        border-radius: 3px;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        display: block;
        outline: 0;
}
.titulo-panel {
    color:  rgb(217, 0, 255);
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-family:'Young Serif', serif;
}
